build/
devel/
log/
.vscode/c_cpp_properties.json
.vscode/settings.json
.vscode/browse.*
.catkin_workspace
src/exp_cov/world/bitmaps/image.png
src/exp_cov/world/bitmaps/rectangles.json
src/exp_cov/world/world0.world
src/exp_cov/world/bitmaps/image0.png
src/exp_cov/world/bitmaps/rectangles0.json
src/exp_cov_2/scripts/tmp/
.qodo

**/__pycache__/

# exp_cov_2
src/exp_cov_2/build/
src/exp_cov_2/devel/
src/exp_cov_2/log/
src/exp_cov_2/install/

pip-requirements.txt
conda-requirements.txt
environment.yml
requirements.txt
